NEXT_PUBLIC_SUPABASE_URL=https://yflahndzunvlsnkzerwm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmbGFobmR6dW52bHNua3plcndtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4MDE1MTQsImV4cCI6MjA5ODM3NzUxNH0.VD0ubl8GXkFg8Rf8pH37O65Y_4Tm5Xw_5sH00yZHuD0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlmbGFobmR6dW52bHNua3plcndtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjgwMTUxNCwiZXhwIjoyMDk4Mzc3NTE0fQ.SF0B3lw1lkhhxslVwcS2PKcZrqiPVaHtW9sbX0iKKyo
NEXT_PUBLIC_APP_URL=https://cyber-log-sentinel-hmtk.vercel.app
