NEXT_PUBLIC_SUPABASE_URL=https://yflahndzunvlsnkzerwm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_s0xFJBNGpmQRI_LnzodZoA_i54eLqN1
SUPABASE_SERVICE_ROLE_KEY=sb_secret_KpabRCgMB4dbjoMcdwo_jg_NQKuFg3O
NEXT_PUBLIC_APP_URL=https://cyber-log-sentinel.vercel.app/
